#mainpane>*.tab-header-area>*.tab-header-background {
	-fx-background-color: #222326;
}

#maintab {
	-fx-background-color: #3B3C40;
	-fx-text-base-color: white;
}

#mainbackground {
	-fx-background-color: #222326;
}

.button {
	-fx-background-color: #6B736A;
	-fx-text-fill: white;
}

#text {
	-fx-text-fill: white;
}

.table-view .column-header .label {
	-fx-text-fill: white;
}

.table-view .column-header {
	-fx-background-color: #222326;

}

.table-view {
	-fx-background-color: #9FA6A3;
}

.table-view .table-cell{
    -fx-border-color: #222326;
    -fx-background-color: #9FA6A3;
}

.anchorpane {
	-fx-background-color: #222326;
}

#datepicker {
	-fx-background-color: #6B736A;
}

#datepicker .button {
	-fx-background-color: #6B736A;
}